* {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.1em;
    color: #71a4d4;
    background-color: #072138;
}
html::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
#cursor {
    animation: blink_cursor 1s infinite;
    color: #13d8df;
}
.image {
    display: grid;
    width: 20em;
    height: 15em;
    border: 0.2em solid #71a4d4;
}
.image div {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
}
.image_picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
}
.image_filter {
    text-align: center;
    background-color: #71a4d4;
    opacity: 0.5;
}
.image_filter span {
    opacity: 1;
}
.shell_precommand {
    color: #51b967;
}
.shell_command {
    color: #0e57f5;
}
.black_font {
    color: #072138;
}
.white_font {
    color: #71a4d4;
}
.red_font {
    color: #d63b3b;
}
.blue_font {
    color: #0e57f5;
}
.green_font {
    color: #51b967;
}
.magenta_font {
    color: #8f51b9;
}
.cyan_font {
    color: #13d8df;
}
.yellow_font {
    color: #a4af3e;
}
@keyframes blink_cursor {
    0% {
        color: #13d8df;
    }
    48% {
        color: #13d8df;
    }
    50% {
        color: #072138;
    }
}